html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 200%;
}

input, button {
  font-size: 100%;
}

h1{
  margin: .2em;
}

label {
  font-weight: bold;
  float: left;
}

.line {
  width: 15em;
  height: 1em;
  margin: auto;
  clear: both;
}

.data {
  float: right;
}

.control {
  text-align: center;
}

.field {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field > div {
  text-align: center;
}

.field > div > div {
  display: inline-block;
}

@media (orientation: landscape) {
  .field > div {
    height: calc(5vh + 8px);
  }

  .field > div > div {
    height: calc(5vh);
    width: calc(5vh);
  }
}

@media (orientation: portrait) {
  .field > div {
    height: calc(8vw + 8px);
  }

  .field > div > div {
    height: 8vw;
    width: 8vw;
  }
}

.black {
  background-color: #666;
  border: 4px solid #666;
}

.white {
  background-color: #aaa;
  border: 4px solid #aaa;
}

.visited {
  background-image: url('src/cross.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.knight {
  background-image: url('src/knight.png');
  background-size: contain;
}
